*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Helvetica, Arial;
}

header{
    width: 100vw;
    height: 70px;

}
/* ##### MENU ##### */

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

nav{
    background-color: rgb(65, 185, 159);
    font-size: 19px;
    height: 70px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: right;
    margin-left: 15px;
    padding: 5px 10px;
    color: white;
    font-size: 25px;
}

nav ul .BOTAO:hover{/* o hover aplica uma ação, quando passamos o mouse em cima do botão */
    background-color: rgba(255, 255, 255, 0.2);

}
/*Fim menu*/

body{
    font-family: "Poppins",sans-serif;
}
.emblema{
    display: flex;
}
main .pesquisa{
    width: 100%;
    height: 50px;
    background-color: white;
}


.imprimir{
    background-color: #899095;
    text-align: center;
}





/*dark mode*/
body.dark-mode {
    background-color: #212529;
    color: #899095;
  }
  
  .dark-mode a {
    color: #dee2e6;
  }
  
  .dark-mode a:hover {
    color: #3cc368;
  }